.block-wrapper {
    position: relative;

    display: block;

    margin: 1% 30% 2%;
    padding: 2%;

    border-radius: 2px;
    background: rgba(255, 229, 252, 0.8);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    font-size: 1vw;
}

body{
    background: gray;
}
h1{
    text-align: center;
    margin-bottom: 5%;
}
h4{
    font-size: 1.5vw;
}

img{
    width: 50%;
    height: auto;
}

.lead{
    font-size: 1.2vw;
    font-weight: bold;
}


.sidenav {
    height: 100%;
    width: 30%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: rgba(255, 149, 14, 0.8);
    overflow-x: hidden;
    padding-top: 20px;
    word-wrap: break-word;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    display: block;
    color: white;
    font-size: 2vw;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 30%; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.card-content{
    margin-left: 20%;
}

h2{
    text-align: center;
}
.checkout{
    transition:0.3s;
    color: black;
    background: #dc3545;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
.checkout:hover{
    background: #b42c37;
}

body{
    background-image: url(/static/img/background.jpg);
    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;

    /* Background image doesn't tile */
    background-repeat: no-repeat;

    /* Background image is fixed in the viewport so that it doesn't move when
       the content's height is greater than the image's height */
    background-attachment: fixed;

    /* This is what makes the background image rescale based
       on the container's size */
    background-size: cover;

    /* Set a background color that will be displayed
       while the background image is loading */
    background-color: #464646;
}

.pricetag{
    border-radius: 10px;
    background: rgba(171, 96, 12, 0.8);
    padding: 5%;
    width: 80%;
    margin: auto;
}

h1{
    font-size: 5vw;
}
h2{
    font-size: 3vw;
}
h3{
    font-size: 2vw;
}
.btn{
    font-size: 1.2vw;
}