.block-wrapper {
    position: relative;

    display: block;

    margin: 6% 5% 2%;
    padding: 5%;

    border-radius: 2px;
    background: rgba(255, 229, 252, 0.8);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

body{
    background: gray;
}
h1{
    text-align: center;
    margin-bottom: 5%;
}
input{
    margin-top: 2%;
    margin-bottom: 2%;
}
body{
    background-image: url(/static/img/background.jpg);
    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;

    /* Background image doesn't tile */
    background-repeat: no-repeat;

    /* Background image is fixed in the viewport so that it doesn't move when
       the content's height is greater than the image's height */
    background-attachment: fixed;

    /* This is what makes the background image rescale based
       on the container's size */
    background-size: cover;

    /* Set a background color that will be displayed
       while the background image is loading */
    background-color: #464646;
}